*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

/*
COLOR SCHEMA

 colors: {
  'text': 'rgb(4, 7, 4)',
  'background': 'rgb(249, 253, 250)',
  'primary': 'rgb(69, 192, 85)',
  'secondary': 'rgb(153, 228, 163)',
  'accent': 'rgb(93, 223, 110)',
 }, */